<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static "css/demo.css"%}">">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Welcome to DURGAJOBS</h1>
            <p>Continuous Job Update For Every Hour....</p>
          <a class="btn btn-primary btn-lg" href="hydjobsinfo" role="button">HyderabadJobs</a>&nbsp&nbsp&nbsp&nbsp
          <a class="btn btn-primary btn-lg" href="#" role="button">BangaloreJobs</a>&nbsp&nbsp&nbsp&nbsp
          <a class="btn btn-primary btn-lg" href="#" role="button">PuneJobs</a>
        </div>
    </div>
</body>
</html>